{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid with-menu">
        <div class="row">
            <div class="offset-lg-1 col-lg-11">
                <a class="text-grey-2 d-flex align-items-center my-3" href="{{ path('homepage') }}"><img class="mr-2"
                                                                                                         src="/images/svg/ico_arrow_backward.svg"
                                                                                                         alt="arrow">zpět
                    na
                    Úvod</a>
            </div>
            <div class="col-xl-5 offset-lg-1 py-5">
                <h1 class="text-primary section-heading pt-5">ZDRAVPO Pardubice s.r.o.
                    zdravotnické potřeby</h1>
                <h2 class="py-3 h3">ZDRAVOTNICKÉ POTŘEBY PARDUBICE - PRODEJNA</h2>
                <p class="fs-22">Firma ZDRAVPO Pardubice s.r.o. je prodejnou zdravotnických potřeb. Prodáváme velmi
                    široku škálu
                    zdravotnických potřeb. Působnost prodejny je především pro město Pardubice a okolí. S ohledem na
                    šíři
                    sortimentu a schopnost zajistit zdravotnické potřeby pro lidi všech věkových skupin (matky a dětmi,
                    lidi
                    středního věku a seniory, jsme vyhledávaní i lidmi a firmami z okolích měst. Jsme schopni dodat
                    zdravotnické potřeby do Chrudimi, Vysokého Mýta, Lázně Bohdaneč, Přelouč, Holice atd.</p>


                <h2 class="py-3 h3">ZDRAVOTNICKÉ POTŘEBY PARDUBICE - WEB</h2>

                <p class="fs-22">Sortiment zdravotnických potřeb je na stránkách zobrazován v členění. Každý obor se
                    dále čĺení podle
                    jeho charakteru. Zdravotnické potřeby jsou zobrazovány prostřednictvím webů našich dodavatelů a
                    prostřednictvím samostatně vytvořených stránek. V mnohých případech není možné zdravotnické potřeby
                    prezentovat v plném rozsahu, a tak mnohé stránky naznačují, co vše je možné od prodejny
                    zdravotnických
                    potřeba získat.</p>
            </div>
            <div class="col-xl-5">
                <div class="mb-4">
                    <img class="w-100" src="./images/jpg/prodejna_1.jpg" alt="prodejna_1">
                </div>
                <div class="mb-4">
                    <img class="w-100" src="./images/jpg/prodejna_2.jpg" alt="prodejna_2">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-5 offset-xl-1">
                <h2 class="section-heading text-primary pt-5">Vybrané značky</h2>
                <div class="row">
                    {% for company in companies %}
                        <div class="col-3 my-3">
                            <img class="w-100" src="{{ vich_uploader_asset(company, 'imageFile') }}" alt="{{ company.name }}">
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="position-relative offset-xl-1 col-xl-5"
                 style="background-image: url('./images/svg/ico_cross.svg'); height: 1080px; right: 0;">
                <div class="lead-section ml-0 ml-sm-4">
                    <h2 class="lead-heading text-white">JAK SE K NÁM<br>
                        DOSTANETE?</h2>
                    <a href="{{ path('contact') }}" class="btn btn-primary btn-lead rounded-0">
                        <div>NAJDETE NÁS ZDE <img class="ml-3" src="/images/svg/ico_arrow_forward.svg"
                                                  alt="arrow_forward"></div>
                    </a>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
