.catalog-item {
  height: 75px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  .catalog-item-text {
    max-width: 75%;
    font-size: 20px;
    color: white;
    line-height: 100%;
    &.active{
      font-weight: bold;
      text-decoration: underline;
    }
  }
}

.catalog-separator {
  background: white;
  height: 1px;
  width: 100%;
}

.category-collapse{
  height: 100%;
  width: 100%;
  top: 0;
  .back-link{
    border-top: 1px white solid;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
