.fs-18{
  font-size: 18px;
}
.fs-22{
  font-size: 22px;
}
.fs-25{
  font-size: 25px;
}
.fs-35{
  font-size: 35px;
}
.section-heading{
  font-size: 55px;
}
.lead-heading{
  font-size: 80px;
}
@include media-breakpoint-down(md){
  .lead-heading{
    font-size: 52px;
  }
}
@include media-breakpoint-down(xs){
  .lead-heading{
  }
  .section-heading{
    font-size: 34px;
  }
}

