.navbar-separator {
  width: 2px;
  height: 66px;
  background-color: $grey-2;
}

.navbar-logo {
  height: 35px;
}

@include media-breakpoint-up(sm){
  .navbar-logo {
    height: 66px;
  }
}
.navbar-content-margin {
  margin: 0;
}

.nav-link {
  font-size: 28px !important;
  padding: 0 5px;
  line-height: 100%;
}
.nav-item.active .nav-link{
  border-bottom: 2px solid $green;
}

.nav-item{
  padding: 0;
  margin: 15px;
}

@media screen and ('min-width: 1440px') {
  .navbar-content-margin {
    margin: 0 8%;
  }
}

.with-menu{
  margin-top: 91px;
}
@include media-breakpoint-up(sm){
  .with-menu{
    margin-top: 122px;
  }
}
