{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid with-menu homepage-jumbotron"
         style="background-image: url('./images/jpg/Zdravpo_HP_background.jpg');">
        <div class="d-none d-xl-block"
             style="background-image: url('./images/svg/ico_cross.svg'); height: 100%; width: 50%; position: absolute; right: 0"></div>
        <div class="row h-100">
            <div class="col-sm-10 col-xl-4 offset-0 offset-sm-1 align-self-center catalog position-relative p-0">
                {% for category in categories %}
                    <a class="btn btn-primary rounded-0 catalog-item text-left collapsed"
                       data-toggle="collapse" href="#{{ category.url }}" role="button">
                        <div class="catalog-item-text text-uppercase">{{ category.name }}</div>
                        <div class="ml-auto"><img src="/images/svg/ico_plus.svg" alt="plus"></div>
                    </a>
                    <div class="catalog-separator"></div>
                    <div class="collapse category-collapse position-absolute h-100 bg-primary" id="{{ category.url }}">
                        <div class="">
                            <a class="btn btn-primary active rounded-0 catalog-item text-left"
                               href="{{ path('homepage') }}" role="button">
                                <div class="catalog-item-text text-uppercase">{{ category.name }}</div>
                                <div class="ml-auto"><img src="/images/svg/ico_minus.svg" alt="minus"></div>
                            </a>
                            <div class="catalog-separator"></div>
                            {% for subcategory in category.subCategories %}
                                <a href="{{ path('subcategory', {'categoryUrl' : category.url, 'subCategoryUrl': subcategory.url}) }}"
                                   class="btn btn-primary rounded-0 catalog-item text-left">
                                    <div class="catalog-item-text ml-3">{{subcategory.name}}</div>
                                </a>
                                <div class="catalog-separator"></div>
                            {% endfor %}
                            <div class="catalog-separator"></div>
                            <a href="{{ path('homepage') }}"
                               class="btn btn-grey-3 rounded-0 catalog-item text-left back-link">
                                <div class="ml-2 mr-3"><img src="/images/svg/ico_arrow_backward_green.svg" alt="plus">
                                </div>
                                <div class="catalog-item-text text-primary text-uppercase">Zpět na výpis</div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="d-none d-xl-flex col-5 offset-2 position-relative">
                <div class="lead-section">
                    <h2 class="lead-heading text-white">JAK SE K NÁM<br>
                        DOSTANETE?</h2>
                    <a href="{{ path('contact') }}" class="btn btn-primary btn-lead rounded-0">
                        <div>NAJDETE NÁS ZDE <img class="ml-3" src="/images/svg/ico_arrow_forward.svg"
                                                  alt="arrow_forward"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid d-xl-none d-block position-relative"
         style="background-image: url('./images/svg/ico_cross.svg'); height: 1080px; width: 100%; right: 0;">
        <div class="lead-section">
            <h2 class="lead-heading text-white">JAK SE K NÁM<br>
                DOSTANETE?</h2>
            <a href="" class="btn btn-primary btn-lead rounded-0">
                <div>NAJDETE NÁS ZDE <img class="ml-3" src="/images/svg/ico_arrow_forward.svg"
                                          alt="arrow_forward"></div>
            </a>
        </div>
    </div>
    <div class="container-fluid position-relative" style="min-height: 1000px">
        <img src="/images/svg/A.svg" class="a-img d-none d-lg-block" alt="A">
        <div class="row">
            <div class="col-xl-5 offset-lg-5 py-5">
                <h2 class="text-primary section-heading pt-5">ZDRAVPO Pardubice s.r.o.
                    zdravotnické potřeby</h2>
                <h3 class="py-3">ZDRAVOTNICKÉ POTŘEBY PARDUBICE - PRODEJNA</h3>
                <p class="fs-22">Firma ZDRAVPO Pardubice s.r.o. je prodejnou zdravotnických potřeb. Prodáváme velmi
                    široku škálu
                    zdravotnických potřeb. Působnost prodejny je především pro město Pardubice a okolí. S ohledem na
                    šíři
                    sortimentu a schopnost zajistit zdravotnické potřeby pro lidi všech věkových skupin (matky a dětmi,
                    lidi
                    středního věku a seniory, jsme vyhledávaní i lidmi a firmami z okolích měst. Jsme schopni dodat
                    zdravotnické potřeby do Chrudimi, Vysokého Mýta, Lázně Bohdaneč, Přelouč, Holice atd.</p>


                <h3 class="py-3">ZDRAVOTNICKÉ POTŘEBY PARDUBICE - WEB</h3>

                <p class="fs-22">Sortiment zdravotnických potřeb je na stránkách zobrazován v členění. Každý obor se
                    dále čĺení podle
                    jeho charakteru. Zdravotnické potřeby jsou zobrazovány prostřednictvím webů našich dodavatelů a
                    prostřednictvím samostatně vytvořených stránek. V mnohých případech není možné zdravotnické potřeby
                    prezentovat v plném rozsahu, a tak mnohé stránky naznačují, co vše je možné od prodejny
                    zdravotnických
                    potřeba získat.</p>
            </div>
        </div>
    </div>

{% endblock %}
