@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,400i,700,700i&display=swap');

$green-1: #17a94a;
$grey-1: #4A4A4A;
$grey-2: #9B9B9B;
$grey-3: #D8D8D8;

$theme-colors: (
        "primary": $green-1,
        "grey-1": $grey-1,
        "grey-2": $grey-2,
        "grey-3": $grey-3
);

@import "~bootstrap/scss/bootstrap";

body {
  font-family: 'Titillium Web', sans-serif;
  color: $grey-1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import "styles/navbar";
@import "styles/fonts";
@import "styles/catalog";
@import "styles/buttons";
@import "styles/positioning";
@import "styles/images";
