{% trans_default_domain 'FOSUserBundle' %}


<div class="text-center">
    <h2 class="text-uppercase text-white">Zapomenuté heslo</h2>
</div>
<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="form-horizontal">
    <div class="form-group">
        <div class="col-xs-12 login-input">
            <input placeholder="Uživatelské jméno nebo email"
                   class="form-control" type="text" id="username" name="username" required="required" />
        </div>
    </div>
    <div class="form-group text-center m-t-40">
        <div class="col-xs-12">
            <button class="btn btn-light border-white rounded-0 volno btn-lg btn-block text-uppercase waves-effect waves-light"
                    type="submit">Odeslat
            </button>
        </div>
    </div>
</form>
