<div
        class="cookies-box flex-column flex-lg-row d-flex align-items-lg-center bg-white"
        style="position: fixed;
    bottom: 0;
    left: 0;
    border-top: 2px solid #17a94a;
    padding: 10px 8%;"
>
    <p style="font-size: 14px; margin: 0 10px;">
        Příslušným nastavením vašeho webového prohlížeče vyjadřujete souhlas,
        resp. nesouhlas s využíváním cookies při návštěvě naší webové stránky.
        Cookies nám pomáhají při zabezpečení kvalitních služeb. Zablokování
        těchto souborů může vést k nesprávnému, resp. neúplnému nastavení
        parametrů fungování některých služeb.
        <a href="{{ path('cookies') }}"><u>Více informací</u></a>
    </p>
    <div>
        <button
                class="btn btn-outline-primary rounded-0 text-uppercase font-weight-bold"
                style="width: 215px; margin-top: 6px; border-width: 2px;"
                onclick="acceptCookies()"
        >Rozumím a souhlasím
        </button>
    </div>
</div>
<script>
    function acceptCookies() {
        document.querySelector(".cookies-box").classList.remove("d-flex");
        document.querySelector(".cookies-box").classList.add("d-none");
    }
</script>
